<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <script src="/public/js/index.js" type="module" defer></script>
  <title>Web RTC</title>
</head>

<body>
  <header>
    <h1>Hello RTC!</h1>
  </header>
  <main>
    <h2>Welcome!!</h2>
  </main>
  <button>Call</button>
</body>

</html>