<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <script src="/public/js/index.js" type="module" defer></script>
  <title>WebSocket & WebRTC</title>
</head>

<body>
  <header>
    <h1>Hello RTC!</h1>
  </header>
  <main>
    <form id="nickname">
      <input type="text" placeholder="choose a nickname" required>
      <button>Save</button>
    </form>
    <form id="message">
      <ul></ul>
      <input type="text" placeholder="write a msg" required>
      <button>Send</button>
    </form>
  </main>

</body>

</html>